# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [6]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'
users = pd.read_csv(url)

### Step 4. Discover what is the mean age per occupation

In [52]:

users_split = users['user_id|age|gender|occupation|zip_code'].str.split('|', expand=True)

users_split.columns = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users_split['age'] = pd.to_numeric(users_split['age'])

mean_age = users_split.groupby('occupation')['age'].mean()
mean_age

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [76]:
gender_counts = users_split.groupby(['occupation', 'gender']).size().unstack(fill_value=0)

gender_counts['total'] = gender_counts['M'] + gender_counts['F']

gender_counts['Male ratio per occupation'] = gender_counts['M'] / gender_counts['total']
gender_counts['Male ratio per occupation']

occupation
administrator    0.544304
artist           0.535714
doctor           1.000000
educator         0.726316
engineer         0.970149
entertainment    0.888889
executive        0.906250
healthcare       0.312500
homemaker        0.142857
lawyer           0.833333
librarian        0.431373
marketing        0.615385
none             0.555556
other            0.657143
programmer       0.909091
retired          0.928571
salesman         0.750000
scientist        0.903226
student          0.693878
technician       0.962963
writer           0.577778
Name: Male ratio per occupation, dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [58]:
age = users_split.groupby('occupation')['age'].agg(['min','max'])
age

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70
entertainment   15   50
executive       22   69
healthcare      22   62
homemaker       20   50
lawyer          21   53
librarian       23   69
marketing       24   55
none            11   55
other           13   64
programmer      20   63
retired         51   73
salesman        18   66
scientist       23   55
student          7   42
technician      21   55
writer          18   60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [86]:
age = users_split.groupby('occupation')['age'].mean()
age

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [84]:
gender_counts = users_split.groupby(['occupation', 'gender']).size().unstack(fill_value=0)

gender_counts['total'] = gender_counts['M'] + gender_counts['F']

gender_counts['Male ratio'] = gender_counts['M'] / gender_counts['total']
gender_counts['women ratio'] =  gender_counts['F'] / gender_counts['total']
display = gender_counts[['Male ratio', 'women ratio']]
display

gender         Male ratio  women ratio
occupation
administrator    0.544304     0.455696
artist           0.535714     0.464286
doctor           1.000000     0.000000
educator         0.726316     0.273684
engineer         0.970149     0.029851
entertainment    0.888889     0.111111
executive        0.906250     0.093750
healthcare       0.312500     0.687500
homemaker        0.142857     0.857143
lawyer           0.833333     0.166667
librarian        0.431373     0.568627
marketing        0.615385     0.384615
none             0.555556     0.444444
other            0.657143     0.342857
programmer       0.909091     0.090909
retired          0.928571     0.071429
salesman         0.750000     0.250000
scientist        0.903226     0.096774
student          0.693878     0.306122
technician       0.962963     0.037037
writer           0.577778     0.422222